POSTGRES_DB_NAME=postgres
POSTGRES_USER_NAME=postgres
POSTGRES_PASSWORD=postgres
APP_PORT=8080
DB_ADMIN_PORT=8888
DOCKER_VOLUME=storage_data
DEFAULT_ADMIN_TOKEN=AVADAKEDABRA
DEFAULT_USER_TOKEN=REDUKTO